In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe=pd.read_csv('dataa.csv.csv')
dataframe.head()

,CONFLICT_INSTANCES,CONFLICT_BINARY,CONFLICT_DISTANCE,DEATH_TOLL,DROUGHT_EPISODES,PARTICIPANT CATEGORY,MALARIA_INCIDENCE,CURRENT AGE OF CHILD,BODY MASS INDEX,OUTCOME VARIABLE BMI,...,T_MEAN_3,T_MEAN_2,T_MEAN_1,T_MEAN_0,T_MIN_4,T_MIN_3,T_MIN_2,T_MIN_1,T_MIN_0,YEAR
0,0,No,8,0,7,Adolescents,0.061054,NaN,1653,low BMI,...,17.850484,17.963958,17.621692,17.580191,11.575043,12.351219,12.413791,11.996821,12.063445,2005
1,0,No,8,0,7,Adolescents,0.061054,NaN,1956,Normal BMI,...,17.850484,17.963958,17.621692,17.580191,11.575043,12.351219,12.413791,11.996821,12.063445,2005
2,0,No,8,0,7,Adolescents,0.061054,NaN,1737,low BMI,...,17.850484,17.963958,17.621692,17.580191,11.575043,12.351219,12.413791,11.996821,12.063445,2005
3,0,No,8,0,7,Adolescents,0.061054,NaN,2159,Normal BMI,...,17.850484,17.963958,17.621692,17.580191,11.575043,12.351219,12.413791,11.996821,12.063445,2005
4,4,Yes,10,4,7,Adolescents,0.000000,NaN,2458,Normal BMI,...,16.069568,15.763140,15.571404,15.817906,9.563205,10.218515,9.788896,9.718102,9.829757,2005

In [3]:
df=dataframe['CLUSTER NUMBER']
df.head()

0    1
1    1
2    1
3    1
4    2
Name: CLUSTER NUMBER, dtype: int64

In [4]:
import pandas as pd

# Assuming your dataframe is called 'df'
dataframe['cluster'] = dataframe['CLUSTER NUMBER'].astype(str) + '_' + dataframe['YEAR'].astype(str)

# Display the dataframe with the new 'cluster' column
print(dataframe[['CLUSTER NUMBER', 'YEAR', 'cluster']].head())

   CLUSTER NUMBER  YEAR cluster
0               1  2005  1_2005
1               1  2005  1_2005
2               1  2005  1_2005
3               1  2005  1_2005
4               2  2005  2_2005

In [5]:
import pandas as pd

# Define a function to calculate the proportion of each category in the 'PARTICIPANT CATEGORY' column
def calculate_proportion(df, category):
    return (df == category).mean()


dataframe['Proportion_Adolescents'] = dataframe.groupby('cluster')['PARTICIPANT CATEGORY'].transform(lambda x: calculate_proportion(x, 'Adolescents'))
dataframe['Proportion_Pregnant_Women'] = dataframe.groupby('cluster')['PARTICIPANT CATEGORY'].transform(lambda x: calculate_proportion(x, 'Pregnant women'))
dataframe['Proportion_Non_Pregnant_Women'] = dataframe.groupby('cluster')['PARTICIPANT CATEGORY'].transform(lambda x: calculate_proportion(x, 'Non-pregnant women'))


print(dataframe[['cluster', 'Proportion_Adolescents', 'Proportion_Pregnant_Women', 'Proportion_Non_Pregnant_Women']].head())

  cluster  Proportion_Adolescents  Proportion_Pregnant_Women  \
0  1_2005                0.088235                        0.0
1  1_2005                0.088235                        0.0
2  1_2005                0.088235                        0.0
3  1_2005                0.088235                        0.0
4  2_2005                0.179487                        0.0

   Proportion_Non_Pregnant_Women
0                       0.911765
1                       0.911765
2                       0.911765
3                       0.911765
4                       0.820513

In [6]:
# Update the calculate_proportion function to handle lists
def calculate_proportion(df, category):
    # If category is a list, check if values in df belong to the list
    if isinstance(category, list):
        return df.isin(category).mean()
    # Otherwise, check for single value comparison
    return (df == category).mean()

# Now, applying the proportion calculation for child ages 0 to 5
child_0_5 = [0, 1, 2, 3, 4, 5]
dataframe["0-5_child_age_proportion"] = dataframe.groupby('cluster')['CURRENT AGE OF CHILD'].transform(lambda x: calculate_proportion(x, child_0_5))

# Check the result
print(dataframe[['cluster', 'CURRENT AGE OF CHILD', '0-5_child_age_proportion']].head())

  cluster  CURRENT AGE OF CHILD  0-5_child_age_proportion
0  1_2005                   NaN                  0.220588
1  1_2005                   NaN                  0.220588
2  1_2005                   NaN                  0.220588
3  1_2005                   NaN                  0.220588
4  2_2005                   NaN                  0.153846

In [7]:
dataframe["three_or_above_child_proportion"]=dataframe.groupby('cluster')['EVER CHILDREN BORN'].transform(lambda x: calculate_proportion(x,"3 or above"))
print(dataframe[['cluster', 'EVER CHILDREN BORN', 'three_or_above_child_proportion']].head())

  cluster EVER CHILDREN BORN  three_or_above_child_proportion
0  1_2005           No birth                         0.838235
1  1_2005           No birth                         0.838235
2  1_2005           No birth                         0.838235
3  1_2005           No birth                         0.838235
4  2_2005           No birth                         0.282051

In [8]:
dataframe["five_year_group_proportion_15-19"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "15-19"))
dataframe["five_year_group_proportion_20-24"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "20-24"))
dataframe["five_year_group_proportion_25-29"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "25-29"))
dataframe["five_year_group_proportion_30-34"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "30-34"))
dataframe["five_year_group_proportion_35-39"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "35-39"))
dataframe["five_year_group_proportion_40-44"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "40-44"))
dataframe["five_year_group_proportion_45-49"] = dataframe.groupby('cluster')['AGE IN 5-YEAR GROUPS'].transform(lambda x: calculate_proportion(x, "45-49"))

# Print the results
print(dataframe[['cluster', 'AGE IN 5-YEAR GROUPS', 
                 'five_year_group_proportion_15-19',
                 'five_year_group_proportion_20-24',
                 'five_year_group_proportion_25-29',
                 'five_year_group_proportion_30-34',
                 'five_year_group_proportion_35-39',
                 'five_year_group_proportion_40-44',
                 'five_year_group_proportion_45-49']].head())

  cluster AGE IN 5-YEAR GROUPS  five_year_group_proportion_15-19  \
0  1_2005                15-19                          0.088235
1  1_2005                15-19                          0.088235
2  1_2005                15-19                          0.088235
3  1_2005                15-19                          0.088235
4  2_2005                15-19                          0.179487

   five_year_group_proportion_20-24  five_year_group_proportion_25-29  \
0                          0.073529                          0.102941
1                          0.073529                          0.102941
2                          0.073529                          0.102941
3                          0.073529                          0.102941
4                          0.230769                          0.102564

   five_year_group_proportion_30-34  five_year_group_proportion_35-39  \
0                          0.088235                          0.294118
1                          0.088235                          0.294118
2                          0.088235                          0.294118
3                          0.088235                          0.294118
4                          0.179487                          0.102564

   five_year_group_proportion_40-44  five_year_group_proportion_45-49
0                          0.220588                          0.132353
1                          0.220588                          0.132353
2                          0.220588                          0.132353
3                          0.220588                          0.132353
4                          0.205128                          0.000000

In [9]:
dataframe["Rural_proportion"]=dataframe.groupby('cluster')['TYPE OF PLACE OF RESIDENCE'].transform(lambda x: calculate_proportion(x,"rural"))
print(dataframe[["cluster","TYPE OF PLACE OF RESIDENCE","Rural_proportion"]].head())

  cluster TYPE OF PLACE OF RESIDENCE  Rural_proportion
0  1_2005                      rural               1.0
1  1_2005                      rural               1.0
2  1_2005                      rural               1.0
3  1_2005                      rural               1.0
4  2_2005                      urban               0.0

In [10]:
dataframe["no_education_proportion"]=dataframe.groupby('cluster')['HIGHEST EDUCATIONAL LEVEL'].transform(lambda x: calculate_proportion(x,"no education"))
dataframe["primary_education_proportion"]=dataframe.groupby('cluster')['HIGHEST EDUCATIONAL LEVEL'].transform(lambda x: calculate_proportion(x,"primary"))

print(dataframe[["cluster","HIGHEST EDUCATIONAL LEVEL","no_education_proportion","primary_education_proportion"]].head())

  cluster HIGHEST EDUCATIONAL LEVEL  no_education_proportion  \
0  1_2005                   primary                 0.941176
1  1_2005                 secondary                 0.941176
2  1_2005                 secondary                 0.941176
3  1_2005                   primary                 0.941176
4  2_2005                 secondary                 0.128205

   primary_education_proportion
0                      0.029412
1                      0.029412
2                      0.029412
3                      0.029412
4                      0.128205

In [11]:

dataframe["pure_drinking_awter_proportion"]=dataframe.groupby('cluster')['SOURCE OF DRINKING WATER'].transform(lambda x: calculate_proportion(x,"Unimproved"))
print(dataframe["pure_drinking_awter_proportion"])

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.051282
           ...
43754    0.784810
43755    0.784810
43756    0.784810
43757    0.784810
43758    0.784810
Name: pure_drinking_awter_proportion, Length: 43759, dtype: float64

In [12]:

dataframe["no_toilate_proportion"]=dataframe.groupby('cluster')['TOILET FACILITY'].transform(lambda x: calculate_proportion(x,"No toilet facility"))
dataframe["unimproved_toilate_proportion"]=dataframe.groupby('cluster')['TOILET FACILITY'].transform(lambda x: calculate_proportion(x,"Unimproved toilet"))
print(dataframe[["no_toilate_proportion","unimproved_toilate_proportion"]].head)

<bound method NDFrame.head of        no_toilate_proportion  unimproved_toilate_proportion
0                   1.000000                       0.000000
1                   1.000000                       0.000000
2                   1.000000                       0.000000
3                   1.000000                       0.000000
4                   0.000000                       0.051282
...                      ...                            ...
43754               0.607595                       0.392405
43755               0.607595                       0.392405
43756               0.607595                       0.392405
43757               0.607595                       0.392405
43758               0.607595                       0.392405

[43759 rows x 2 columns]>

In [13]:

dataframe["large_family_proportion"]=dataframe.groupby('cluster')['HOUSEHOLD MEMBERS'].transform(lambda x: calculate_proportion(x,"Large family"))
print(dataframe["large_family_proportion"].head())

0    0.632353
1    0.632353
2    0.632353
3    0.632353
4    0.333333
Name: large_family_proportion, dtype: float64

In [14]:
two_three_above = ["2", "3 or above"]
dataframe["twoOrThreeAboveChildren_proportion"] = dataframe.groupby('cluster')['NO OF CHILDREN UNDER 5 AT HOME'].transform(lambda x: calculate_proportion(x, two_three_above))
dataframe["twoOrThreeAboveChildren_proportion"].head

<bound method NDFrame.head of 0        0.426471
1        0.426471
2        0.426471
3        0.426471
4        0.179487
           ...
43754    0.645570
43755    0.645570
43756    0.645570
43757    0.645570
43758    0.645570
Name: twoOrThreeAboveChildren_proportion, Length: 43759, dtype: float64>

In [15]:

dataframe["SEX OF HOUSEHOLD HEAD_male proportion"] = dataframe.groupby('cluster')['SEX OF HOUSEHOLD HEAD'].transform(lambda x: calculate_proportion(x, "male"))
dataframe["SEX OF HOUSEHOLD HEAD_male proportion"].head()

0    0.632353
1    0.632353
2    0.632353
3    0.632353
4    0.692308
Name: SEX OF HOUSEHOLD HEAD_male proportion, dtype: float64

In [16]:
dataframe[" BIRTHS IN LAST FIVE 5 YEARS 3 or above proportion"] = dataframe.groupby('cluster')[' BIRTHS IN LAST FIVE 5 YEARS'].transform(lambda x: calculate_proportion(x, "3 or above"))
dataframe[" BIRTHS IN LAST FIVE 5 YEARS 3 or above proportion"].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name:  BIRTHS IN LAST FIVE 5 YEARS 3 or above proportion, dtype: float64

In [17]:
dataframe[" WEALTH INDEX poorer proportion"] = dataframe.groupby('cluster')['WEALTH INDEX'].transform(lambda x: calculate_proportion(x, "poorer"))
dataframe[" WEALTH INDEX poorest proportion"] = dataframe.groupby('cluster')['WEALTH INDEX'].transform(lambda x: calculate_proportion(x, "poorest"))
dataframe[" WEALTH INDEX middle proportion"] = dataframe.groupby('cluster')['WEALTH INDEX'].transform(lambda x: calculate_proportion(x, "middle"))

In [18]:
two_three_above = ["2", "3 or above"]
dataframe["  BIRTHS IN LAST FIVE 5 YEARS 2_or_3_above _proportion"] = dataframe.groupby('cluster')[' BIRTHS IN LAST FIVE 5 YEARS'].transform(lambda x: calculate_proportion(x, two_three_above))
dataframe["  BIRTHS IN LAST FIVE 5 YEARS 2_or_3_above _proportion"].head()

0    0.250000
1    0.250000
2    0.250000
3    0.250000
4    0.051282
Name:   BIRTHS IN LAST FIVE 5 YEARS 2_or_3_above _proportion, dtype: float64

In [19]:

child_0_5 = [0, 1, 2, 3, 4]
dataframe["DURATION OF CURRENT PREGNANCY 0 to4 month proportion"] = dataframe.groupby('cluster')['DURATION OF CURRENT PREGNANCY'].transform(lambda x: calculate_proportion(x, child_0_5))

In [20]:
dataframe["CURRENTLY BREASTFEEDING yes proportion"] = dataframe.groupby('cluster')['CURRENTLY BREASTFEEDING'].transform(lambda x: calculate_proportion(x, "yes"))

In [21]:
dataframe["HUSBAND/PARTNER'S EDUCATION LEVEL no proportion"] = dataframe.groupby('cluster')["HUSBAND/PARTNER'S EDUCATION LEVEL"].transform(lambda x: calculate_proportion(x, "no education"))

dataframe["HUSBAND/PARTNER'S EDUCATION LEVEL primary proportion"] = dataframe.groupby('cluster')["HUSBAND/PARTNER'S EDUCATION LEVEL"].transform(lambda x: calculate_proportion(x, "primary"))

In [22]:
dataframe["HUSBAND/PARTNER'S OCCUPATION (GROUPED agricultural proportion"] = dataframe.groupby('cluster')["HUSBAND/PARTNER'S OCCUPATION (GROUPED)"].transform(lambda x: calculate_proportion(x, "agricultural - employeet"))

dataframe["HUSBAND/PARTNER'S OCCUPATION (GROUPED) not working proportion"] = dataframe.groupby('cluster')["HUSBAND/PARTNER'S OCCUPATION (GROUPED)"].transform(lambda x: calculate_proportion(x, "not working"))

In [23]:
dataframe["RESPONDENT'S OCCUPATION (GROUPED) not working proportion"] = dataframe.groupby('cluster')["RESPONDENT'S OCCUPATION (GROUPED)"].transform(lambda x: calculate_proportion(x, "not working"))
dataframe["RESPONDENT'S OCCUPATION (GROUPED) not unskilled and sgricultural"] = dataframe.groupby('cluster')["RESPONDENT'S OCCUPATION (GROUPED)"].transform(lambda x: calculate_proportion(x, "agricultural - employeet"))

In [24]:
dataframe["PERSON WHO USUALLY DECIDES ON RESPONDENT'S HEALTH CARE women not involve proportion"] = dataframe.groupby('cluster')["PERSON WHO USUALLY DECIDES ON RESPONDENT'S HEALTH CARE"].transform(lambda x: calculate_proportion(x, "Women not invloved in decision making"))
dataframe["PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES"]

0        Women not invloved in decision making
1        Women not invloved in decision making
2        Women not invloved in decision making
3        Women not invloved in decision making
4        Women not invloved in decision making
                         ...
43754    Women not invloved in decision making
43755    Women not invloved in decision making
43756    Women not invloved in decision making
43757    Women not invloved in decision making
43758    Women not invloved in decision making
Name: PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES, Length: 43759, dtype: object

In [25]:
dataframe["PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES women not involve proportion"] = dataframe.groupby('cluster')["PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES"].transform(lambda x: calculate_proportion(x, "Women not invloved in decision making"))
dataframe["PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES women not involve proportion"]

0        0.455882
1        0.455882
2        0.455882
3        0.455882
4        0.435897
           ...
43754    0.493671
43755    0.493671
43756    0.493671
43757    0.493671
43758    0.493671
Name: PERSON WHO USUALLY DECIDES ON LARGE HOUSEHOLD PURCHASES women not involve proportion, Length: 43759, dtype: float64

In [26]:
dataframe["PERSON WHO USUALLY DECIDES ON VISITS TO FAMILY OR RELATIVES women not involve proportion"] = dataframe.groupby('cluster')["PERSON WHO USUALLY DECIDES ON VISITS TO FAMILY OR RELATIVES"].transform(lambda x: calculate_proportion(x, "Women not invloved in decision making"))
dataframe["PERSON WHO USUALLY DECIDES ON VISITS TO FAMILY OR RELATIVES women not involve proportion"]

0        0.382353
1        0.382353
2        0.382353
3        0.382353
4        0.435897
           ...
43754    0.544304
43755    0.544304
43756    0.544304
43757    0.544304
43758    0.544304
Name: PERSON WHO USUALLY DECIDES ON VISITS TO FAMILY OR RELATIVES women not involve proportion, Length: 43759, dtype: float64

In [27]:
dataframe["PERSON WHO USUALLY DECIDES WHAT TO DO WITH MONEY HUSBAND EARNS women not involve proportion"] = dataframe.groupby('cluster')["PERSON WHO USUALLY DECIDES WHAT TO DO WITH MONEY HUSBAND EARNS"].transform(lambda x: calculate_proportion(x, "Women not invloved in decision making"))
dataframe["PERSON WHO USUALLY DECIDES WHAT TO DO WITH MONEY HUSBAND EARNS women not involve proportion"]

0        1.000000
1        1.000000
2        1.000000
3        1.000000
4        0.769231
           ...
43754    0.518987
43755    0.518987
43756    0.518987
43757    0.518987
43758    0.518987
Name: PERSON WHO USUALLY DECIDES WHAT TO DO WITH MONEY HUSBAND EARNS women not involve proportion, Length: 43759, dtype: float64

In [29]:
# Specify the path where you want to save the CSV file
output_file_path = r'C:\Users\Welcome\Desktop\rameez bhai\update_data.csv'  # Use one of the solutions above

# Save the DataFrame to a CSV file
dataframe.to_csv(output_file_path, index=False)